* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --green: #ffffff;
}

body {
  background-color: #ffffff;
  color: #555;
  font-size: 16px;
  line-height: 1.4;
  font-family: Helvatica;
  font-size: 16px;
  font-weight: 400;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;
}
